.container {
  display: flex;
  flex-direction: column;
  height: 95vh;
}

h1 {
  font-size: 14px;
}

#wrapper {
  display: flex;
}

#wrapper2 {
	display: flex;
	justify-content: space-around;;
}

#left {
  flex: 0 0 69%;
}

#left80 {
  flex: 0 0 80%;
}

#leftEqual {
	flex: 0 0 50%;
}

#right {
  flex: 1;
}

.center {
	text-align: center;
}

.centerSVG {
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

#floatRight {
	float: right;
}


.cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.card {
    flex: 1 0 500px;
    box-sizing: border-box;
    margin: 1rem .25em;
}