.container {
  display: flex;
  flex-direction: column;
  height: 95vh;
}

h1 {
  font-size: 14px;
}

h2 {
  font-size: 16px;
  padding: 0;
  margin: 0;
  margin-bottom: 0.3%;
  font-weight: 500;
}

body {
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
}

p {
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  font-weight: 500;
}

.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.fade:hover {
  opacity: 0.5;
}

.goRight {
  margin-left:auto; 
  margin-right:0;
}

.bottomMargin {
  margin-bottom: 2%;
}

.topMargin {
  margin-top: 1.5%;
}

.topMargin2 {
  margin-top: 4.5%;
}

.topMargin3 {
  margin-top: 10.5%;
}

#topMargin {
  margin-top: 1%;
}

#alignRight {
	text-align: right;
	margin-right: 1.5%;
}

.alignRight {
  text-align: right;
  margin-right: 1.5%;
}

#alignLeft {
  float: left;
  clear: left;
}

.groupDrop {
  display: flex;
  justify-content: space-between;
}

#wrapper {
  display: flex;
  justify-content: center;
}

#wrapper2 {
	display: flex;
	justify-content: space-around;
}

#wrapper3 {
  justify-content: center;
}

#left {
  flex: 0 0 69%;
}

#left80 {
  flex: 0 0 80%;
}

#leftEqual {
	flex: 0 0 50%;
}

#right {
  flex: 1;
}

.center {
	text-align: center;
}

.center2 {
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
}

.centerSVG {
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

#floatRight {
	float: right;
}

#floatRight2 {
  float: right;
  clear: right;
}

#text {
  display: -webkit-box;   
  display: -moz-box; 
  display: -ms-flexbox;  
  display: -webkit-flex;
  display: flex;  
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
}

#dropdown1 {
  display: -webkit-box;   
  display: -moz-box; 
  display: -ms-flexbox;  
  display: -webkit-flex;
  display: flex;  
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
}

#dropdown2 {
  display: -webkit-box;   
  display: -moz-box; 
  display: -ms-flexbox;  
  display: -webkit-flex;
  display: flex;  
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
}

.cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.card {
  flex: 1 0 500px;
  box-sizing: border-box;
  margin: 1rem .25em;
}

#narrow {
  float: right;
  width: 57%;
}

#wide {
  justify-content: center;
  float: left;
  width: 40%;
}

#wideVert {
  float: left;
  width: 40%;
  justify-content: center
}

#parentDiv{
  position: relative;
}

#childDiv {
  position: absolute;
  bottom: 0px;
}


.imgRound {
  border-radius: 5%;
}

.cardBorder {
  border:solid black;
  border-width:0.5px;
  border-radius: 5%;
  padding-top: 1.0%;
  padding-bottom: 1.25%;
  padding-left: 0.5%;
  padding-right: 0.5%;
}

#source {
  margin-top: 1.5%;
}